/* Coolors Exported Palette - coolors.co/c5d5ea-413057-f6e5ff-759eb8-7392b7 */

/* HSL */
$color1: hsla(214%, 47%, 85%, 1);
$color2: hsla(266%, 29%, 26%, 1);
$color3: hsla(279%, 100%, 95%, 1);
$color4: hsla(203%, 32%, 59%, 1);
$color5: hsla(213%, 32%, 58%, 1);

/* RGB */
$color1: rgba(197, 213, 234, 1);
$color2: rgba(65, 48, 87, 1);
$color3: rgba(246, 229, 255, 1);
$color4: rgba(117, 158, 184, 1);
$color5: rgba(115, 146, 183, 1);