/* Coolors Exported Palette - coolors.co/63768d-413057-f6e5ff-8ac6d0-b8f3ff */

/* HSL */
$color1: hsla(213%, 18%, 47%, 1);
$color2: hsla(266%, 29%, 26%, 1);
$color3: hsla(279%, 100%, 95%, 1);
$color4: hsla(189%, 43%, 68%, 1);
$color5: hsla(190%, 100%, 86%, 1);

/* RGB */
$color1: rgba(99, 118, 141, 1);
$color2: rgba(65, 48, 87, 1);
$color3: rgba(246, 229, 255, 1);
$color4: rgba(138, 198, 208, 1);
$color5: rgba(184, 243, 255, 1);